html {
    width: 100%;
}

body {
    min-width: 100%;
    margin: 0;
    font-family: Andale Mono, monospace;
}

.clock {
	float: right;
	color: white;
	font-family: "Courier New", Courier, monospace;
	font-size: 130%;
	font-size: bold;
	padding: 11px;
}

.menu {
    opacity: 0.9;
    font-size: 130%;
    overflow: hidden;
    background-color: #000000
	
}

.menu a {
    float:left;
    color: #ffffff;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    background-color: #6dc4df;
    color: #000000;
}

.menu a.main {
    background-color: #57b2df;
    color: #000000;
}

.container {
    width: 80%;
    overflow: auto;
    display: inline-block;
    text-align: center;
    padding-top: 1%;
    padding-left: 20%;
}

.inputBox {
    width: 40%;
    border: 1px solid gray;
    padding-left: 1%;
    margin-bottom: 1%;
}

.click {
    background-color: gray;
    text-align: center;
    color: white;
    border: 1px solid gray;
    border-style: solid;
    border-radius: 4%;
    margin-bottom: 1%;
}
.test {
    background-color: white;
	opacity: 0.9;
    text-align: center;
    color: black;
    border: 1px solid gray;
    border-style: solid;
    border-radius: 4%;
    margin-bottom: 1%;
}

.note {
    background-color: #4372b6;
    opacity: 0.8;
    border-radius: 6%;
    color: white;
    font-size: 11px;
	padding-left: 4px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-top: 1px;
	margin: 1%;
	visibility: hidden;
}
.noteErr {
    background-color: red;
    opacity: 0.9;
    border-radius: 6%;
    color: #ffffff;
    font-size: 13px;
	padding-left: 4px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-top: 1px;
	margin: 1%;
}
.selec {
	font-size: 12px;
	background-color: white;
	float: right;
	margin-right: 2%;
	border: 1px solid gray;
}
.margL {
	margin-left: 17%;
}
.tbl {
	border: 1px solid gray;
	background-color: #bac0dd;
}
.mapa {
  flex: 1;
  float: right;
  margin: 10px;
  overflow: visible;
  padding: 10px;
  display: inline-block;
  background-color: lightgray;
}

